// Variables 

// Variables de color de Background

$color-bg1: #fff;
$color-bg2: #000;
$color-bg3: #102447;
$color-bg4: #413F42;
$color-bg5: #ddddddb4;

// Variables de color de letras

$color-letra1: #FFF;
$color-letra2: #000;

// Variables de color de efectos y transiciones

$color-trans1: #b70e21;
$color-trans2: #274d8a;

// Variables de color de botones

$color-button1: #274d8a;

// Variables de edicion de texto

$color-texto1: #fff;
$color-texto2: #000;
$color-texto3: #274d8a;
